h5.card-title,
.dropdown-item,
.column,
.block_titel p,
.block_titel h2,
.card-body.Author_text p,
.col-md-7 form input,
textarea {
  text-align: left;
}

.block_titel h2 {
  border-left: 5px solid #851c65;
  padding-left: 10px;
  border-right: none;
}

body,
.container-fluid {
  direction: ltr;
  text-align: left;
}

.nav_bar_ {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.contact i {
  margin-right: 8px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0,
.auto-margin-right {
  margin-right: auto;
}

.author-col {
  flex: 0 0 50%;
}

@media (min-width: 768px) {
  .author-col {
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 992px) {
  .author-col {
    flex: 0 0 20%;
  }
}

#mainNavbar {
  left: 0 !important;
  right: auto !important;
  transform: none;
}

a.dropdown-item.en_ar {
  text-align: end;
  background: #b11981;
  width: max-content;
  float: inline-end !important;
  border-radius: 5px;
  color: white;
  margin-top: -6px;
}

ul.dropdown-menu.show {
  border: navajowhite !important;
}

ul.pagination {
  direction: rtl;
}
