h5.card-title {
  text-align: left;
}

body {
  direction: ltr;
  text-align: left;
}

.dropdown-item {
  text-align: left !important;
}

.column {
  text-align: left;
}

.block_titel p,
.block_titel h2 {
  text-align: left;
}

.block_titel h2 {
  border-left: 5px solid #851c65;
  padding-left: 10px;
  border-right: none;
}

.container-fluid {
  direction: rtl;
}

.nav_bar_ {
  position: fixed;
  top: 0;
  width: 100%;
}

.contact i {
  margin-right: 8px;
}

.container-fluid {
  direction: ltr;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin-right: auto;
}

.auto-margin-right {
  margin-right: auto;
}

.card-body.Author_text p {
  text-align: left;
}
