h5.card-title,
.dropdown-item,
.column,
.block_titel p,
.block_titel h2,
.card-body.Author_text p {
  text-align: left;
}

.block_titel h2 {
  border-left: 5px solid #851c65;
  padding-left: 10px;
  border-right: none;
}

body {
  direction: ltr;
  text-align: left;
}

.container-fluid {
  direction: ltr;
}

.nav_bar_ {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}

.contact i {
  margin-right: 8px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0,
.auto-margin-right {
  margin-right: auto;
}

.author-col {
  flex: 0 0 50%;
}
ul.pagination {
  direction: rtl;
}

.col-md-7 form input,
textarea {
  text-align: left;
}

@media (min-width: 768px) {
  .author-col {
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 992px) {
  .author-col {
    flex: 0 0 20%;
  }
}


